.cursive{
    font-family: cursive;
    font-size: 40px;
}

.button {
    background-color: rgba(255, 255, 255, 0.918);
    font-size: 20px;
    padding: 14px 40px;
    font-family: cursive;
    border-radius: 15px;
    border: 1.5px solid rgb(0, 0, 0);
    text-align: center;
    width: 10%;
    height: 10%;
    position: absolute;
    top: 60%;
    left: 45%;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
