.cursive {
  font-family: cursive;
  color: black;
}
.yoga {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.activity{
color: rgb(0, 0, 0);
font-family: cursive;
font-weight: bold;
text-decoration-line: underline;
font-size: 17px;
}