/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
  font-family: cursive
}

p {
  line-height: 2rem;
 font-family: cursive
}

.sidenav-trigger {
  color: #6e778f;
  font-family: cursive
  
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  font-family: cursive
}
  .parallax-container .section {
    width: 100%;
    font-family: cursive
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
    .page-footer {
        background-color: rgb(27, 78, 145);
        font-family: cursive
    }

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
